html,body {    margin:  0;
    width: 100%;
    height: 100%;
    }
    body {
       display:table;
        /*flex-direction: column;*/
      }

/* Home navigation ---------------------------------------------------*/
nav{  color:#FFFFFF; /*#ded9b4;*/
  background-color:#000000;  /*#0b3457; */
  Display : flex;
  flex-direction: row;
  Justify-content: center;
  Align-items: center ;
  font-size: 1em;
}

nav ul {    font-family:'Helvetica', 'Arial', 'Sans-Serif';
display: flex;
  justify-content: space-between;
    padding: 0px;
    list-style: none;
    font-weight: bold; }
nav ul li {    display: inline;
    margin-right: 20px;
    margin-left: 20px;}

nav a{    text-decoration: none;
    color:#FFFFFF;
    list-style-type: none;}
/* Tutorial navigation ------------------------------------------------- */

.tutoNavig a {    text-decoration: none;
    color:#FFFFFF;
    list-style-type: none;

    flex: 1 0 auto; }

.tutoNavig{
  Width : 30%;
  color:#FFFFFF;
  background-color: #000000;
  word-wrap: break-word;
  list-style-type: none;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto
  align-self: start;}

.tutoNavig ul{  color#FFFFFF;
  background-color: #000000;
  word-wrap: break-word;
  list-style-type: none;
    margin: 0;}
.t1{
    font-size: 1.7em;
}
.t2{
    font-size: 1.2em;
}
.t3{
    font-size: 1em;
}
/* footer  ------------------------------------------------- */
footer {    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    flex-shrink: 0;
  }

footer ul {        font-family:'Helvetica', 'Arial', 'Sans-Serif';
        padding: 0px;
        list-style: none;
        font-weight: bold;    }
footer ul li {        display: inline;
        margin-right: 40px;
        margin-left: 40px;    }


/* general------------------------------------------------------------*/
a {    text-decoration: none;
    color: #999; }

a:hover {    text-decoration: underline;}
/*a:active{  background-color:#dfdcc7;;
        color:black;
    }*/

a.t3act{
        font-size: 1em;
        color: #AED6F1;
        font-decoration:underline;
    }
a.t2act{
        font-size: 1.2em;
        color: #AED6F1;
        font-decoration:underline;
    }
h1 {    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';}
p {    font-size: 1em;
    line-height: 1.4em;
    text-align: justify;
    color: #333;}
    ul{

    color: #333;
    }
ul.posts {        margin: 20px auto 40px;
        font-size: 1.5em;    }

ul.posts li {        list-style: none;    }

figcaption{ text-align: center;
color:#333 ;}
img{
    border-color:#0b3457 ;
    border-width: 5px;
    border-style: solid;
}
figure{
    text-align: center;

}
/* cv ------------------------------------------------- */
iframe {    width: 100%;
    height: calc(140vh - 30px);
    background: black;}
.cv{
    background-color: #dfdcc7;
        min-height: calc(100vh - 203.4px);

}

/* home ------------------------------------------------- */



/* tutorial ------------------------------------------------- */


/* personalised classes text------------------------------------------------- */

.intro {    font-size: 1em; /* larger text */
text-align: justify;
    line-height: 1.4em;
    color: #333;}

.comment{font-style: italic;}

.equation
    {      font-style: italic;
      text-align: center;    }

.encare
{ border-color:#0b3457;
  background-color: whitesmoke;
  font-style: italic;
  text-align: center;
    padding: 1px;
    padding-left: 1px;
    border-width: 5px;
    border-style: solid;
      }
/* personalised classes container ------------------------------------------------- */

.container
{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    background-color: #dfdcc7;
    min-height: calc(100vh - 203.4px);
}
body > div{
    display:table-row;
}
.entete
{
    display:flex;
    height:100px;
    justify-content:flex-start;
    color:#FFFFFF; /*#ded9b4;*/
    background-color:#000000;  /*#dfdcc7; */
}
.entete img{
    border-color:#000000;  /*#dfdcc7; */
    border-width: 5px;
    width:5em;
  height: auto;
    border-style: solid;
    margin-left: 20px;

}
.entete h2{
    font-size:2em;
    margin-left: 100px;
}
.mainT{
  padding-left: 30px;
  padding-right: 30px;
  flex: 3;
}
.mainP{
    padding-left: 30px;
    padding-right: 30px;
  }
.arrow {display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
background-color: #dfdcc7;
flex-shrink: 0;
}
.arrow img{
    border:#dfdcc7 ;
}
.next a{display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}
.previous a{display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}

.biblio p{
  font-style:italic;
}

.h0{
  font-size: 2em;
  display: flex
  justify-content: center;
}
